<h2> Bienvenue ! </h2>

<ul>
  <li> Projet GitHub du site : <a href="https://github.com/mvoland/the-hacking-bot"> github.com/mvoland/the-hacking-bot </a> </li>
  <li> Projet GitHub tutoriel gem discordrb : <a href="https://github.com/mvoland/thp-tutoriel-bot-discord"> github.com/mvoland/thp-tutoriel-bot-discord </a> </li>
</ul>
